
body{
    background: #FFEEAD; 
    font-family: 'Handlee', cursive;
}
.main {
    padding: 58px;
    box-shadow: 5px 5px 7px 5px #888888; 
    background:#FCFFA6
}

.main h1 {
    font-size: 40px;
    text-align: center;
}
