body{
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
    background-color: rgb(0, 0, 0);
    font-family: Quicksand, sans-serif;
    display: flex;
    justify-content: space-around;
  }
  .container img {
    flex: 0.6;
    object-fit: contain;
  }
  
#navBar .container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#navBar .nav-item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin-right: 1rem;
}

#navBar .nav-item .active {
  color: #A3001D;
}

.label, p, label {
  color: white;
}
  #sawo-container {
    height: 465px;
    width: 300px;
  }
  .login-container {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    min-height: 400px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    height : 80%;
    color: #fff;
  }
  
  .login-container h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  
  .login-container p {
    padding: 0 10px 0 10px;
    text-align: center;
  }
  
  #status{
    background-color: #95d995;
    text-align: center;
    padding: 10px;
    color: rgb(44 41 41);
  }
  
  @media (max-width: 400px) {
    .container img {
      display: none;
    }
  
    .login-container {
      border: none;
      flex: 1;
    }
  
    #sawo-container {
      /* height: 500px; */
      background-color: #bcedef;
      width: 100%;
    }
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d1cd13;
  color: white;
}