@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
/* ==========================================================================
    Background parallax
========================================================================== */
.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-1 {
    background-image: url("https://images.unsplash.com/photo-1482517967863-00e15c9b44be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80");
}

/* ==========================================================================
    Body
========================================================================== */

#description {
    margin-top: 20px;
    color: white;
}

/* ==========================================================================
    Button homepage
========================================================================== */
.btn-danger {
    background-color: #A3001D;
    border-color: #A3001D;
}

/* ==========================================================================
    Navbar
========================================================================== */

#navBar .container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#navBar .nav-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 1rem;
}

#navBar .nav-item .active {
    color: #A3001D;
}

.label, p, label {
    color: white;
}