body{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
input{
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 30;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 20%;
    border-radius: 5px;
}
button{
    background-color: rgb(231, 216, 6);
    border: none;
    box-shadow: none;
    font-size: 16px;
    height: 30px;
    width: 10%;
    border-radius: 5px;
}
.count{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}
.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.participant {
    margin-bottom: 5px;
    margin-right: 5px;
}
.participant div {
    text-align: center;
}
.participant div:first-child {
    width: 500px;
    height: 375px;
    background-color: rgb(211, 208, 208);
    border: 1px solid black;
}
.participant video {
    width: 100%;
    height: 100%;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #d1cd13;
    color: white;
  }